/*----------------mui.showLoading---------------*/

.mui-show-loading {
	position: fixed;
	padding: 5px;
	width: 120px;
	min-height: 120px;
	top: 45%;
	left: 50%;
	margin-left: -60px;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	border-radius: 5px;
	color: #FFFFFF;
	visibility: hidden;
	margin: 0;
	z-index: 2000;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	opacity: 0;
	-webkit-transform: scale(0.9) translate(-50%, -50%);
	transform: scale(0.9) translate(-50%, -50%);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.mui-show-loading.loading-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1) translate(-50%, -50%);
	transform: scale(1) translate(-50%, -50%);
}

.mui-show-loading .mui-spinner {
	margin-top: 24px;
	width: 36px;
	height: 36px;
}

.mui-show-loading .text {
	line-height: 1.6;
	font-family: -apple-system-font, "Helvetica Neue", sans-serif;
	font-size: 14px;
	margin: 10px 0 0;
	color: #fff;
}

.mui-show-loading-mask {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.mui-show-loading-mask-hidden {
	display: none !important;
}